
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  max-width: 100vw;
  overflow-x: hidden;
}
body {
  font-family: Arial, sans-serif;
  overflow-x: hidden !important;
  max-width: 100vw;
  min-height: 100vh;
}
.body-background{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  z-index: -1;
  width: 100%;
  height: fit-content;
}
body::before {
  display: block;
  content: "";
  height: 70px;
}
#logo{
  width: 100%;
  max-width: 40px;
  height: auto;
}
#logo-text{
  width: 100%;
  max-width: 250px;
  height: auto;
}


#main-title::after{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  height: 12px;
  background-color: rgb(255, 255, 255);
}

header {
  background-color: #f8f9fa;
  padding: 1rem;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}
.logo-frame-toggle{
  flex-direction: row-reverse;
}
.navbar{
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5) !important;
}
.price{
  position: absolute;
  right: 0;
  bottom: -100%;
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color: #9a7401;
  padding: 3px 15px;
  border-radius: 10px;
  font-size: 2rem;
}
.price:hover{
  color: #9a7401;
  background-color: rgb(255, 255, 255);
  border: 2px solid #9a7401;
}
.nav-link {
  position: relative;
  margin-right: 0;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000; /* Boja linije */
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%; /* Linija se širi preko celog linka */
}
.nav-link.active::after {
  width: 100%;
}
.accordion-button{
  margin-bottom: 20px !important;
  border: 1px solid #D80000;
  color: #D80000;
}
.accordion-button:not(.collapsed){
  color: rgb(0, 0, 0) !important;
  font-weight: bold;
  border-color: black;
}

.text-light{
  color: #fff !important;
}
.call-frame{
  position: fixed;
  z-index: 999;
  bottom: 50%;
  transform: translateY(50%);
  right: 2%;
  width: fit-content;
  height: fit-content;
  display:none;
  justify-content: space-between;
  flex-direction: column;
  gap: 50px;
}
.single-call img{
  width: 60px;
  aspect-ratio: 1;
}
body::-webkit-scrollbar-track {
  background: blue !important;
}
#landing h2{
  margin-right: 1rem;
  font-size: 1.5rem;
}
#landingCarousel{
  height: fit-content;
  padding-bottom: 3rem !important;
  text-align: justify;
}
.landing-text-wrapper{
  width: 20%;

}
.carousel-item{
  margin-top: 1rem;
}

.set-abs{
  position: absolute;
  z-index: 999;
  top: 5%;
  left: 20%;
  font-weight: 900;
  padding: .5rem 2rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}
.set-abs1{
 
  top: 5%;
  left: 20%;

}
.set-abs2{
 
  top: 25%;
  left: 35%;
 
}


.img-c-width{
  width: 100%;
  height: auto;
  overflow-y: hidden;
  margin: 0 auto !important;
  border-radius: 20px !important;
 
}

.text-black{
  color: black;
}
.w-full{
  width: 100vw !important;
}
#map {
  height: 400px;
  border-radius: 10px;
  color: #000000;
}
span.leaflet-routing-collapse-btn::after{
  color:red !important
}
section {
  width: 100% !important;
  min-height: 100vh !important;
  overflow-x: hidden;
  display: grid;
  place-items: center;
 background-color: white;
}
section.blanc{
 width: 100%;
  background-color: transparent !important;
}


#trolley{
  background: url('/images/favicon-transparent.webP');
  background-position: center center;
  width: 600px;
  height: 750px;
  position: fixed;
  bottom: 0%;
  right: -1800px;
  z-index: 999999999;
  transition: right 6s;
}

.breaking-section{
  height: 2rem;
  background-color: white;
}
#about-us .container{
   margin:  0;
   background-color: white;
   background:url('../images/material/about me/pexels-padrinan-transparent.webP');
   background-repeat: no-repeat;
   background-size: cover;
   filter: saturate(0);
   transform: scale(1.4);
   transition: all .8s;
   font-style: italic;
}
.about-us-title{
  text-align: center;
  margin-top: 150px;
  font-weight: 900;
  font-size: 30px !important;
  
  
}
#text-about-me{
 width: 500px !important;
 transform: scale(0.7);
 transition: all .8s;
 background: rgba(255, 255, 255, 0.5);
}
.text-stroke{
  color: rgb(255, 255, 255);
  -webkit-text-stroke:2px rgb(0, 0, 0);
  font-size: 30px;
  font-weight: bold;
}

#about-us img, #landing img {
  border-radius: 10px;
}
#profile-image{
  filter: saturate(0);
  width: 400px;
  height: auto;
  margin-left: 20%;
  border: 10px solid white;
  transform: scale(0.7);
  transition: all .8s;
}

#about-me-btn {
  position: relative;
  color: black  ;
  font-weight: bold;
  font-style: italic;
  padding: 4px 7px;
  border: 1px dotted black;
  border-radius: 10px;
  font-size: 24px;
  margin-left: 100px;
  text-decoration: none;
  border: 2px solid black;
}
#about-me-btn:hover{
  background-color: black;
  color: white !important;
  background-color: rgba(0,0,0,.5);
}

@media (min-width: 1400px) {
 #landing .container {
      max-width: 85vw !important;  /* Postavlja maksimalnu širinu na 100% širine viewport-a */
  }
}
#ask-section{
  position: absolute;
  z-index: 99999999;
  top: 20%;
  left: 0%;
  border: 1px solid white;
  border-radius: 20px; 
  padding: 1rem 6rem;
  margin-top: 3rem;
   margin-right:40%;
}
.hero-small-screen{
  display: none;
}
@media (max-width: 993px) {
  #ask-section{
    display: none;
  }
  .hero-small-screen{
    display: block;
  }
  
}

#ask-section .mb-3{
  width: 300px !important;
}
#ask-section label{
  background-color: rgba(255, 255, 255, 0.7);
  padding: 2px 10px;
  margin: 5px 0;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
}
.form-control{
  background-color: rgba(255, 255, 255,0.7);
}
#textarea::placeholder{
  color: black;
}
#email, #first-name{
  background-color: rgba(255, 255, 255, 0.5) !important;
}
@media (max-width:1024px) {
  #ask-section{
    margin-right: 0;
    padding: 1rem;
  }
  #trolley{
    transition: right 9s;
  }
  
}


.accordion-item {
  border: none !important;
}
.white-border {
  border: 10px solid white !important;
}
#email:hover {
  font-weight: 600 !important;
}
#youtube:hover {
  color: red !important;
  background: radial-gradient(circle, white 30%, transparent 30% 100%) !important;
}

#linkendin:hover, #facebook:hover {
  background: radial-gradient(circle, white 63%, transparent 63% 100%) !important;
  color: blue !important;
}
#instagram:hover {
  background: linear-gradient(45deg, #F58529, #EB5286, #C05AED, #3490DC) !important;
  color: rgba(255, 255, 255, 0.786) !important;
  border-radius: 5px !important;
}

.show-odd{
  background: linear-gradient(155.5deg,gray 50%,white 50%) !important;
}
.show-odd-last{
  background: linear-gradient(155.5deg,gray 50%,white 50%) !important;
  
}
.show-odd-last .last{
  padding: 1.5rem !important;
  border-radius: 10px;
  background: rgba(200, 200, 200, 1);
  margin-left: 1rem;
}
#principles{
  position: relative;
}
.principles-text{
  padding: 0 1.5rem !important;
  text-align: justify;
}

.show-even{
  background: linear-gradient(335.5deg,gray 50%,white 50%) !important;
}
.switcher{
  display: block;  
}
#about-us{
  display: none ;
 }

#blog{
  display: none;
  width: 100%;
  min-height: 100vh;
}


#first-blanc,
#second-blanc{
  display: grid;
  place-items: center;
  font-size: 2.5rem;
}
#first-blanc h2,
#first-blanc h3,
#second-blanc h2,
#second-blanc h3{
  font: bold 2.5rem sans-serif;
  background: rgba(255, 255, 255, 0.7);
  padding: .5rem;
  border-radius: 10px;
}

footer a{
  text-decoration: none;
  color: white;
}
#about-us-small{
  display: none;
}


/*---=====########  Responsivity  #######=======-----*/
@media (min-width:1015px){
  #about-us-small{
    display: none;
   }
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
  .dissapear-small{display: block;}
  .disappear-large-text, .disappear-large-logo{ display: none;}
}
@media  (max-width: 768px) {  
  .container{
    padding: 0 !important;
  }
  .nav-link{margin-right: 10px;}
  .navbar-toggler{margin-left: 5px;}
  #landing,
  #principles{
    min-height: fit-content  !important;
  }
 #landing{
  padding-top: 2rem !important;
 }
 
  #landingCarousel{
    position: relative;
    top: 0;
    gap: 2rem;
  }
  #landing h2{
    display: inline-block;
    margin-right: 1rem;
    font-size: 1rem;
  }
  .landing-text-wrapper{
    width: 100%;
   padding: 0 5px !important;
   font-size: 3rem;
  }
  .call-frame{
    bottom: 25%;
    gap: 40px;
  }
  .d-sm-flex {
    display: flex !important ;
      flex-direction: column-reverse !important;
  }
  .img-c-width{
    width: 100%;
    height: auto;
    border-radius: 0 !important;
   
  }
  .disappear-small{display: none;
  }
  .disappear-large-text{
    display: block;
    width: 150px;
    height: auto;
    margin-bottom: 5px;
  }
  .disappear-large-logo{
    display: block;
    position: relative;
  }
  .logo-toggle{
    max-width: 110px !important;
    left: -50%;
    bottom: 180px;
  }
  .p-5{
    padding: 1.5rem 0  !important;
  }
  .margin{
    display: block;
    margin-bottom: 40px;
    width: 70% !important;
  }
  
  .no-p-sm{
    padding: .5rem !important;
    text-align: justify;
  }
  .navbar{
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
  }
  a.nav-link{
    text-align: right;
  }
  .stop-animate{
    visibility: visible;
    animation: none !important;
  }

  .price{
    position: relative;
    padding: 3px 15px;
    border-radius: 10px;
    font-size: 1.4rem;
  }
  .show-odd-last .last{
    margin-left: 0;
  }
 
  .set-abs1{
    top: 5%;
    left:5% ;
    font-weight: 600;
  }
  .set-abs2{
    top: 45%;
    left: 15%;
    font-weight: 600;
  }

.margin-auto{
  margin: 0 auto;
}
  
.leaflet-routing-container {
  background-color: rgba(255, 255, 255, 0.8); /* Poluprovidna pozadina */
  border-radius: 5px; /* Zaobljeni uglovi */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); /* Senka za dubinu */
  padding: 10px; /* Unutrašnji razmak */
  width: 300px; /* Širina prozora */
  color: black;
}

.leaflet-routing-alternatives {
  display: none; /* Sakrij alternativne rute ako ne želite da se prikazuju */
}


.leaflet-routing-waypoint {
  background-color: #f9f9f9; /* Boja tačke */
  border: 1px solid #ccc; /* Okvir oko tačke */
  border-radius: 3px; /* Zaobljeni uglovi */
  padding: 5px; /* Unutrašnji razmak */
}
.leaflet-routing-container-hide .leaflet-routing-collapse-btn{
  left: 2px !important;
}



@media   (min-width:641px) {
  .leaflet-routing-container-hide .leaflet-routing-collapse-btn{
    left: -7px !important;
    top: -7px !important;
  }
}

@media (max-width:1014px) {
  .set-abs{
    left: 5%;
  }
  
   .nav-link:hover::after {
    width: 0%; /* Linija se širi preko celog linka */
  }
   .nav-link.active::after {
    width: 0;
  }
  .show-odd{
    background: linear-gradient(50.5deg,gray 50%,white 50%) !important;
  }
  .show-even{
    background: linear-gradient(230.5deg,gray 50%,white 50%) !important;
  }
  i{
    display: none;
  }
  #material-reverse{
    flex-direction: column !important;
  }
  .show-odd-last{
    background: linear-gradient(155.5deg,white 50%,transparent 50%) !important;
  }
  
}
}

@media (max-width:340px){
  .price{
    font-size: 1rem;
    padding: 3px 10px;
  }
}





.logo{
  width: 40px;        
  height: auto !important;       
  object-fit: contain;
}
.text-empf{
  color: rgb(255, 255, 255) !important;
  background-color: black;
  padding-inline: 1rem;
  font-weight: 700!important;
  border-radius: 10px;
}