html {
  scroll-behavior: smooth;
}
body{
  overflow-x: hidden;
}
body::before {
  display: block;
  content: "";
  height: 70px;
}
.call-frame{
  position: fixed;
  z-index: 999;
  bottom: 50%;
  transform: translateY(50%);
  right: 2%;
  width: fit-content;
  height: fit-content;
  display:none;
  justify-content: space-between;
  flex-direction: column;
  gap: 50px;
}
.single-call img{
  width: 60px;
  aspect-ratio: 1;
}
body::-webkit-scrollbar-track {
  background: blue !important;
}
.text-orange{
  color: #000000 !important;
}
.w-full{
  width: 100vw !important;
}
#map {
  height: 400px;
  border-radius: 10px;
}
section {
  width: 100vw !important;
  min-height: 100vh !important;
  display: grid;
  place-items: center;
  margin-top: 2rem;
}
#about-us img, #landing img {
  border-radius: 10px;
}
.grey {
  background-color: rgb(243, 243, 243);
}
.bg-primary.rounded-bottom {
  border-bottom-left-radius: 2rem !important;
  border-bottom-right-radius: 2rem !important;
}
.bg-primary.rounded {
  border-radius: 2rem !important;
}
.accordion-item {
  border: none !important;
}
#contact {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}
.white-border {
  border: 10px solid white !important;
}
#email:hover {
  font-weight: 600 !important;
}
#youtube:hover {
  color: red !important;
  background: radial-gradient(circle, white 30%, transparent 30% 100%) !important;
}
#github:hover {
  background: radial-gradient(circle, black 70%, transparent 70% 100%) !important;
}
#linkendin:hover, #facebook:hover {
  background: radial-gradient(circle, white 63%, transparent 63% 100%) !important;
  color: blue !important;
}
#instagram:hover {
  background: linear-gradient(45deg, #F58529, #EB5286, #C05AED, #3490DC) !important;
  color: rgba(255, 255, 255, 0.786) !important;
  border-radius: 5px !important;
}
@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
  .dissapear-small{display: block;}
  .disappear-large-text{
    display: none;
  }
}
@media (min-width: 150px) and (max-width: 768px) {
  .call-frame{
    bottom: 25%;
    gap: 40px;
  }
  .d-sm-flex {
    display: flex !important ;
      flex-direction: column-reverse !important;
  }
  .disappear-small{display: none;
  }
  .disappear-large-text{
    display: block;
    width: 200px;
    height: auto;
    margin-left: 10%;
    margin-bottom: 5px;
  }
  .p-5{
    padding: 1.5rem 0  !important;
  }
  .margin{
    display: block;
    margin-bottom: 40px;
    width: 70% !important;
  }
  a.nav-link{
    text-align: right;
  }
  .stop-animate{
    visibility: visible;
    animation: none !important;
  }
  #about-us img{
    border-radius: 40px;
  }
}
.margin-auto{
  margin: 0 auto;
}
  
